/*
/ * This is a manifest file that'll be compiled into application.css, which will include all the files
/ * listed below.
/ *
/ * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
/* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
/ *
/ * You're free to add application-wide styles to this file and they'll appear at the bottom of the
/ * compiled file so the styles you add here take precedence over styles defined in any styles
/ * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
/ * file per style scope.
/ *
 /*= require_tree .
 /*= require_self
 /*/
/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

body {
	background: white; /* add a fallback color of #d6d6d6 */
	color: #000000;
	font-family: 'Lato', sans-serif;
	line-height: 1.7; /* line-height is unit-less */
	font-size: 100%;
}

#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

h1 {
	letter-spacing: 5px;
	font-size: 55px;
	margin-bottom: 10px;
}

blockquote {
	border-left: 5px #BBB solid;
	padding-left: 10px;
	margin-left: 0;
	font-style: italic;
}

a {
	color: #ff3300;
	text-decoration: none;
	font-weight: bold;
}



/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/

.container {
	margin: 0 auto 0 auto;
	width: 950px;
}

.main {
	width: 600px;
	float: left;
	background: #FFF;
	padding: 25px;
	margin-right: 10px;
	font-size: 12px;
}

/*----------------------------------------------------------------------------- 
04=NAV  
-----------------------------------------------------------------------------*/

.nav-container {
	background: #ff3300;
	width: 1000px;
	height: 50px;
}

nav ul {
	padding-left: 0;
}

nav ul li {
	float: left;
	list-style: none;
	font-size: 18px;
	color: #FFF;
	margin: 10px;
	padding: 5px;
	display: inline-block;
}
nav ul li a:hover {
	color: #000;
	transition: color 0.3s ease-in;
}
footer{
	margin-top: 50px;
}