// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

header{
	font-size: 45px;
	font-family: Lato;
}

#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

nav {
	background: #e74c3c; /* add a fallback color of #d6d6d6 */
	color: #ecf0f1;
	font-family: 'Lato', sans-serif;
	line-height: 1.7; /* line-height is unit-less */
	font-size: 100%;
}

body{
	background: #ecf0f1;
	border: 10px, black, solid;
}

a {
	color: #ff3300;
	text-decoration: none;
	font-weight: bold;
}



/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/

.container {
	margin: 0 auto 0 auto;
	width: 950px;
	align:center;
}

.main {
	width: 600px;
	float: left;
	background: #FFF;
	padding: 25px;
	margin-right: 10px;
	font-size: 12px;
}

/*----------------------------------------------------------------------------- 
04=NAV  
-----------------------------------------------------------------------------*/

.nav-container {
	background: ;
}

nav ul {
	padding-left: 0;
}

nav ul li {
	float: left;
	list-style: none;
	font-size: 20px;
}

nav ul li a {
	color: #FFF;
	margin: 16px;
	padding: 16px;
	display: block;
}
nav ul li a:hover {
	color: #000;
	transition: color 0.3s ease-in;
}
footer{
	margin-top:50px;
}

